<!--
Colocar cada linha em um div e nomear uma classe para esses DIVs, de forma que eles sejam exibidos e escondidos de acordo com a escolha feita nos botões do topo da tela
Buscar por observação (ex.: todas linhas que passam no Santos Dumont)

ver http://getbootstrap.com/docs/4.1/layout/grid/ para substituir a tabela por divs

-->
<% include ./parciais/cabecalho %>
<div class="container" id="tabela">
	<div class="table-responsive">
		<!-- 6 COLUNAS -->
		<div class = "row">
			<div class="col-1 bg-secondary text-white">
				Núm.
			</div>
			<div class="col-2 bg-secondary text-white">
				Horário
			</div>
			<div class="col-2 bg-secondary text-white">
				Origem
			</div>
			<div class="col-2 bg-secondary text-white">
				Destino
			</div>
			<div class="col-4 bg-secondary text-white">
				Via
			</div>
			<div class="col-1 bg-secondary text-white">
				Obs.
			</div>
			<div class="w-100"></div>     <!-- QUEBRA DE LINHA DO GRID -->
			<% var i = 0; %>
			<% linhas.forEach(function(linha){ %>
				<div class="col-1 align-middle border-bottom <%=linha.cor%>"><%= linha.numero %></div>
				<div class="col-2 align-middle border-bottom <%=linha.cor%>"><%= linha.horario %></div>
				<% if(linha.cor.indexOf("amarelo") > -1){ %>
					<div class="col-8 align-middle border-bottom <%=linha.cor%>">
						<% if(linha.destino.indexOf("Shopping") > -1){ %>
							<i class="fas fa-shopping-bag"></i>
						<% } %>
							<%= linha.destino %></div>
				<% } else { %>
					<div class="col-2 align-middle border-bottom <%=linha.cor%>"><%= linha.origem %></div>
					<div class="col-2 align-middle border-bottom <%=linha.cor%>"><%= linha.destino %></div>
					<div class="col-4 align-middle border-bottom <%=linha.cor%>"><%= linha.via %></div>
				<% } %>
				<div class="col-1 align-middle border-bottom <%=linha.cor%>" id="obs">
					<% if (linha.observacoes.length > 0){ %>
						<a tabindex="<%= i %>" role="button" class="btn btn-light btn-sm <%=linha.cor%>" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom"
						data-content="
							<% for (i=0; i < linha.observacoes.length; i++){ %>
								<% if( i > 0 ) { %>
									_________________________________________
								<% }; %> 
								<%= linha.observacoes[i]._id; %>:  <%= linha.observacoes[i].texto;%>
							<% }; %>">
							<% for (i=0; i < linha.observacoes.length; i++){ %>
								<%= linha.observacoes[i]._id; %>
							<% }; %>
						</a>
					<% }; %>
				<% i++; %>
					</div>
			<div class="w-100"></div>     <!-- QUEBRA DE LINHA DO GRID -->
			<% }); %>
		


		</div>
	</div>
</div>
<% include ./parciais/rodape %>

