<!--
Colocar cada linha em um div e nomear uma classe para esses DIVs, de forma que eles sejam exibidos e escondidos de acordo com a escolha feita nos botões do topo da tela
Buscar por observação (ex.: todas linhas que passam no Santos Dumont)

-->
<% include ./parciais/cabecalho %>
<div class="container" id="tabela">
	<div class="table-responsive">
        <table class="table table-sm table-bordered">
			<thead class="thead-dark ">
				<tr class="sombra">
					<th scope="col">Núm.</th>
					<th scope="col">Horário</th>
					<th scope="col">Origem</th>
					<th scope="col">Destino</th>
					<th scope="col">Via</th>
					<th scope="col">Obs.</th>
				</tr>
			</thead>
			<tbody>
				<% var i = 0 %>
				<% linhas.forEach(function(linha){ %>
					<tr class="<%=linha.cor%>" onclick="abreModal(	'<%=linha.origem%>', 
																	'<%=linha.destino%>', 
																	'<%=linha.numero%>', 
																	'<%=linha.horario%>', 
																	'<%=linha.via%>', 
																	'<%=linha.obs%>' )">
						<th scope="row" class="align-middle"><%=linha.numero%></th>
						<td class="align-middle"><%=linha.horario%></td>
						<% if(linha.cor.indexOf("amarelo") > -1){ %>
							<td colspan=3 class="align-middle"><%=linha.destino%></td>
						<% } else { %>
							<td class="align-middle"><%=linha.origem%></td>
							<td class="align-middle"><%=linha.destino%></td>
							<td class="align-middle"><%=linha.via%></td>
						<% } %>
						<td id="obs" class="align-middle">
							<% if (linha.observacoes.length > 0){ %>
								<a tabindex="<%= i %>" role="button" class="btn btn-light btn-sm" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" 
								data-content="
									<% for (i=0; i < linha.observacoes.length; i++){ %>
										<%if(i=0){%>_________________________________________<%};%> <%= linha.observacoes[i]._id; %>:  <%= linha.observacoes[i].texto;%>
									<% }; %>">
									<% for (i=0; i < linha.observacoes.length; i++){ %>
										<%= linha.observacoes[i]._id; %>
									<% }; %>
								</a>
							<% }; i++; %>
						</td>
					</tr>
				<% }); %>
			</tbody>
			<thead class="thead-dark ">
					<tr class="sombra">
						<th scope="col">Núm.</th>
						<th scope="col">Horário</th>
						<th scope="col">Origem</th>
						<th scope="col">Destino</th>
						<th scope="col">Via</th>
						<th scope="col">Obs.</th>
					</tr>
				</thead>
			</table>
	</div>
<% include ./parciais/rodape %>

